Source: dde-dock-applets
Section: admin
Priority: optional
Maintainer: Mellon Xie <xielingyun@linuxdeepin.com>
Build-Depends: debhelper (>= 9.0.0),
 pkg-config,
 libx11-dev,
 libxtst-dev,
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev,
 libqt5webkit5-dev,
 deepin-gettext-tools,
 libgtk2.0-dev,
Standards-Version: 3.9.5
Homepage: https://gitcafe.com/Deepin/dde-dock-applets

Package: dde-dock-applets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 dde-control-center,
 dde-daemon,
 dde-api,
 dde-qml-dbus-factory,
 deepin-artwork-themes,
 deepin-qml-widgets,
 qt5-extra,
Description: Dock Applets of Deepin Desktop Environment
 Dock applets of deepin desktop environment.
